{{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
<div class="my-4">
    {{ form_label(form.model, 'Modèle de la voiture : ', { label_attr : {'class': 'form_model'}}) }}
    {{ form_widget(form.model) }}
</div>
<div class="my-4">
    {{ form_label(form.price, 'Prix de la voiture : ') }}
    {{ form_widget(form.price) }}
</div>
<div class="my-4">
{{ form_row(form.image) }}
</div>
<div class="my-4">
    {{ form_row(form.cities) }}
</div>
<div class="my-4">
    <p>Ajouter un mot clé (fumeur/non fumeur, voiture neuve ... ) :</p>
    {{ form_widget(form.keywords) }}
    <button class="addKeyword btn btn-outline-primary">+ Mot clé suplémentaire?</button>
</div>