{% extends "base.html.twig" %}

{% block body %}

<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 " src="{{ asset("images/peugeot-208.jpg") }}" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">Location de voiture : choisissez votre véhicule</h1>
            <p>Chez RCar, nous vous offrons la possibilité de louer une voiture adaptée à votre budget ainsi qu'à vos besoins. Vous avez aussi la possibilité de proposer votre propre voiture à la location.
                Nos voitures à louer sont regroupées par catégories. La location de voiture avec RCar est simple et économique. </p>
            {% if is_granted('ROLE_USER') %}
            <a class="btn btn-dark my-4" href="{{ path("add") }}">Mettre une voiture en location</a>
            {% endif %}
            <a class="btn btn-dark" href="{{ path("search_car") }}">Rechercher une voiture</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">Vous trouverez ici toutes les voitures proposées à la location par des particuliers !</p>
        </div>
    </div>

    <!-- Content Row -->


    <div class="row">
        <!--
        <div>
            <ul>
                {% for car in cars %}
                    <li><h3><a href="{{ path('show', {'id' : car.id}) }}">{{ car.model }}</a> </h3></li>
                {% endfor %}
            </ul>
        </div>
        -->
        {% for car in cars %}
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    {% if car.image.name is defined %}
                        <img src="{{ asset('images/')~car.image.name }}" class="img-thumbnail">
                    {% else %}
                        <p>Pas d'image</p>
                    {% endif %}
                    <h2 class="card-title my-4">{{ car.model }}</h2>
                    <div class="my-4">
                    <span>Description :</span>
                    {% for keyword in car.keywords %}
                    <span class="card-text"> {{ keyword.name }}{% if not loop.last %}, {% endif %}</span>
                    {% endfor %}
                    </div>
                    <p>Prix de la location : {{ car.price }} €</p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('show', {'id' : car.id}) }}" class="btn btn-dark btn-sm ">Voir cette annonce</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('edit', {'id' : car.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{{ path('delete', {'id' : car.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

</div>

{% endblock %}