{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <h1 class="mt-5 mb-5">Recherche</h1>
                {{ form(search_form) }}
            </div>
        </div>
        {% if app.request.method == 'POST' %}
        <div class="row">
            <div class="mb-5 mt-5">
                {% if cars |length == 0  %}
                <h3 class="mb-5">Aucun résultat pour votre recherche</h3>
                {% else%}
                <h1 class="mb-5">Résultat de la recherche : </h1>
                    {% for car in cars %}
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    {% if car.image.name is defined %}
                                        <img src="{{ asset('images/')~car.image.name }}" class="img-thumbnail">
                                    {% else %}
                                        <p>Pas d'image</p>
                                    {% endif %}
                                    <h2 class="card-title my-4">{{ car.model }}</h2>
                                    <div class="my-4">
                                        {% for keyword in car.keywords %}
                                            <span class="card-text">Description : {{ keyword.name }} {% if not loop.last %}, {% endif %}</span>
                                        {% endfor %}
                                    </div>
                                    <p>Prix de la location : {{ car.price }} €</p>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ path('show', {'id' : car.id}) }}" class="btn btn-primary btn-sm">Voir cette annonce</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('edit', {'id' : car.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                                        <a href="{{ path('delete', {'id' : car.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{%  endblock %}

{% block javascript %}
{{ parent() }}
<script>

    $(document).ready(function() {
        $('select').formSelect();
    });
</script>


{% endblock %}