{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="my-4 text-center">
        <h1>
            Mes annonces :
        </h1>
    </div>

    <div class="row">
        <!--
        <div>
            <ul>
                {% for car in cars %}
                    <li><h3><a href="{{ path('show', {'id' : car.id}) }}">{{ car.model }}</a> </h3></li>
                {% endfor %}
            </ul>
        </div>
        -->
        {% for car in cars %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        {% if car.image.name is defined %}
                            <img src="{{ asset('images/')~car.image.name }}" class="img-thumbnail">
                        {% else %}
                            <p>Pas d'image</p>
                        {% endif %}
                        <h2 class="card-title my-4">{{ car.model }}</h2>
                        <div class="my-4">
                            {% for keyword in car.keywords %}
                                <span class="card-text">Description : {{ keyword.name }} {% if not loop.last %}, {% endif %}</span>
                            {% endfor %}
                        </div>
                        <p>Prix de la location : {{ car.price }} €</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('show', {'id' : car.id}) }}" class="btn btn-primary btn-sm">Détails</a>
                        <a href="{{ path('edit', {'id' : car.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{{ path('delete', {'id' : car.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
